<mat-card class="raceBox" *ngIf="isDataAvailable">
    <mat-card-content>
    <mat-card-title>{{raceToDisplay}} - {{gpName}}!</mat-card-title>
    <mat-card-subtitle><span class="fi fi-{{gpFlag | lowercase}}"></span> {{trackName}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <div class="raceInfo">
        <div class="raceInfoLeft">
            <h2>Round</h2>
                <p>{{round}}</p>
            <h2>Date</h2>
                <p>{{date | date : 'longDate'}}</p>
            <h2>{{ fastestLap }}</h2>
                <p>{{fastestLapDriver}} - {{fastestLapTime}}</p>
            <button mat-raised-button class="mat-primary" [routerLink]="'/ComingSoon'" routerLinkActive="active">
                Race info!
            </button>
        </div>
        <div class="raceInfoRight">
            <h2>{{ podium }}</h2>
            <table mat-table class="mat-table" [dataSource]="dataSource">
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> P </th>
                    <td mat-cell *matCellDef="let element"> {{element?.position}}  </td>
                  </ng-container>

                  <ng-container matColumnDef="driver">
                    <th mat-header-cell *matHeaderCellDef> Driver </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Driver?.givenName + " " + element?.Driver?.familyName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="constructor">
                    <th mat-header-cell *matHeaderCellDef> Team </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Constructor?.name}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row class="mat-row mat-primary" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        </div>
    </mat-card-content>
    </mat-card>
