.raceBox {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.313rem;
    text-align: center;
}

.mat-table
{
  background-color:transparent!important;  
}

.mat-divider {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.raceBox h1{
    text-align: center;
}

.raceInfo {
    display: flex;
}   

.raceInfo h2, p, a{
    text-align: center;
}

.raceInfoLeft {
    flex: 1;
    justify-content: center;
    text-align: center;
    
}
.raceInfoRight {
    flex: 1;
    justify-content: center;
    text-align: center;
}
