

    .home-header {
        align-items: center;
        text-align: center;
        justify-content: center;
    }


@media (min-width:44.75rem ) {
    .current-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, 44.75rem);
        justify-content: center;    
        text-align: center;
    }
}

.more-info {
    display: flex;
    flex-flow: column wrap;
}



