.raceBox {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.313rem;
}

.mat-table
{
  background-color:transparent!important;  
}

.raceSchedule {
    text-align: center;
    max-height: 296px;
    overflow-y: scroll;
}

.mat-mdc-button-base {
    margin-left: 0.5rem;
}

