<mat-toolbar>
  <span>Formula Stats</span>
  <button mat-flat-button class="navBarButton" routerLink="/Home" routerLinkActive="active" >Home</button>
  <button mat-flat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Driver Stats</button>
  <button mat-flat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Team Stats</button>
  <button mat-flat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Track stats</button>
  <button mat-flat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Head to Head</button>
  <span class="spacer"></span>
  <a mat-icon-button aria-label="github" href="https://github.com/ElliottDG/F1-Stats" target="_blank">
    <mat-icon [svgIcon]="'github'"></mat-icon>
  </a>
</mat-toolbar>
<router-outlet class="center"></router-outlet>
