<mat-toolbar class="position-fixed mat-primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="mat-headline">Formula Stats</div>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button class="navBarButton" routerLink="/Home" routerLinkActive="active" >Home</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Driver Stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Team Stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Track stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Head to Head</button>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme" class="theme-button dark-mode">
    <mat-icon>
      brightness_6
    </mat-icon>
  </button>
    <button mat-icon-button aria-label="github" href="https://github.com/ElliottDG/F1-Stats" target="_blank">
      <mat-icon [svgIcon]="'github'"></mat-icon>
    </button>
</mat-toolbar>


<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fixedTopGap="56" fixedInViewport="true"  fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
  <div fxLayout="column">
    <button mat-button class="navBarButton" routerLink="/Home" routerLinkActive="active" >Home</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Driver Stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Team Stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Track stats</button>
    <button mat-button class="navBarButton" routerLink="/ComingSoon" routerLinkActive="active" >Head to Head</button>
  </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet class="center"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

