
.spacer {
    flex: 1 1 auto;
}
.navBarButton {
    margin: 0 0.5em;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
.mat-sidenav-container{
    min-height: 93vh !important;
}
.position-fixed{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index:1000;
}
