.raceBox {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.6.25rem;
    border: 0.063rem solid #000000;
    border-radius: 0.313rem;
    background-color: #ffffff;
}

.raceBox h1{
    text-align: center;
}

.raceInfo {
    display: flex;
}   

.raceInfo h2, p, a{
    text-align: center;
}

.raceInfoLeft {
    flex: 1;
    justify-content: center;
    text-align: center;
    
}
.raceInfoRight {
    flex: 1;
    justify-content: center;
    text-align: center;
}
