<mat-card class="raceBox" >
  <mat-card-content>
    <mat-card-title> {{displayedStandings}} Standings!</mat-card-title>
    <div class="seasonStandings">
        <table mat-table class="mat-table" [dataSource]="dataSource">
            <!-- <ng-container matColumnDef="teamBadge">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element}} </td>
              </ng-container> -->

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef justify="center"> {{displayedStandings}} </th>
                <td mat-cell *matCellDef="let element" >
                   <div *ngIf="displayedStandings==='Driver'">{{element.Driver?.familyName}}</div>
                   <div *ngIf="displayedStandings==='Constructor'">{{element.Constructor?.name}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef> Points </th>
                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <h2></h2>
    <mat-card-actions>
      <button mat-raised-button class="mat-primary" (click)="changeStandings()">Drivers/Teams Standings</button>
      <button mat-raised-button class="mat-primary" [routerLink]="'/ComingSoon'" routerLinkActive="active">See more season info!</button>
    </mat-card-actions>
  </mat-card-content>
  </mat-card>