<div class="genericCentreContent">
    <h1>Coming Soon!</h1>
    <img src="assets/svg/cone.svg" height="60%" width="40%" alt="coming soon"/>
    <p>We are working on this feature! If you are interested in contributing,
     raising a bug or just checking on our progress then please visit our
     github link below!
    </p>
    <button mat-icon-button aria-label="github" href="https://github.com/ElliottDG/F1-Stats" target="_blank">
        <mat-icon [svgIcon]="'github'"></mat-icon>
    </button>
</div>
